<div class="container py-5">
  <p>
  <h1 class="title text-center text-light mb-5">你想對誰說幹話？</h1>
  </p>

  <form method="POST" action="/">

    <div class="row">
      <div class="card col-md-4" style="margin: 0.1rem 0;">
        <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5668/angry-developer.jpg"
          class="card-img-top" Style="width: 100%; height: 70%;" alt="engineer">
        <div class="card-body d-flex justify-content-center">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="target" id="engineer" value="engineer">工程師
            <i class="fas fa-laptop-code"></i>
          </div>
        </div>
      </div>
      <div class="card col-md-4" style="margin: 0.1rem 0;">
        <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5667/angry-designer.jpg"
          class="card-img-top" Style="width: 100%; height: 70%;" alt="designer">
        <div class="card-body d-flex justify-content-center">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="target" id="designer" value="designer">設計師
            <i class="far fa-image"></i>
          </div>
        </div>
      </div>
      <div class="card col-md-4" style="margin: 0.1rem 0;">
        <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5669/angry-founder.jpg"
          class="card-img-top" Style="width: 100%; height: 70%;" alt="entrepreneur">
        <div class="card-body d-flex justify-content-center">
          <div class="form-check">
            <input class="form-check-input position-static" type="radio" name="target" id="entrepreneur"
              value="entrepreneur">創業家
            <i class="fas fa-briefcase"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <button type="submit" class="btn btn-primary btn-lg" style="margin:3rem; height: 50px">產生幹話</button>
      <p>
      <h1 class="col-md-8" style="background-color: rgb(255, 255, 255); margin:3rem; height: 200px">
        {{#if nonsense}}
        {{nonsense}}
        {{/if}}
      </h1>
      </p>
    </div>

  </form>
</div>